In [8]:
import pandas as pd

wine_df=pd.read_csv('winequality_edited.csv')
wine_df=wine_df.iloc[:,1:]
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [9]:
wine_df.mean()

fixed acidity             7.215307
volatile acidity          0.339666
citric acid               0.318633
residual sugar            5.443235
chlorides                 0.056034
free sulfur dioxide      30.525319
total sulfur dioxide    115.744574
density                   0.994697
pH                        3.218501
sulphates                 0.531268
alcohol                  10.491801
quality                   5.818378
dtype: float64

In [10]:
wine_df.groupby('quality').mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7.853333,0.517000,0.281000,5.140000,0.077033,39.216667,122.033333,0.995744,3.257667,0.506333,10.215000
4,7.288889,0.457963,0.272315,4.153704,0.060056,20.636574,103.432870,0.994833,3.231620,0.505648,10.180093
5,7.326801,0.389614,0.307722,5.804116,0.064666,30.237371,120.839102,0.995849,3.212189,0.526403,9.837783
6,7.177257,0.313863,0.323583,5.549753,0.054157,31.165021,115.410790,0.994558,3.217726,0.532549,10.587553
7,7.128962,0.288800,0.334764,4.731696,0.045272,30.422150,108.498610,0.993126,3.228072,0.547025,11.386006
8,6.835233,0.291010,0.332539,5.382902,0.041124,34.533679,117.518135,0.992514,3.223212,0.512487,11.678756
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

In [11]:
wine_df.groupby(['quality','color']).mean()

               fixed acidity  volatile acidity  citric acid  residual sugar  \
quality color
3       red         8.360000          0.884500     0.171000        2.635000
        white       7.600000          0.333250     0.336000        6.392500
4       red         7.779245          0.693962     0.174151        2.694340
        white       7.129448          0.381227     0.304233        4.628221
5       red         8.167254          0.577041     0.243686        2.528855
        white       6.933974          0.302011     0.337653        7.334969
6       red         8.347179          0.497484     0.273824        2.477194
        white       6.837671          0.260564     0.338025        6.441606
7       red         8.872362          0.403920     0.375176        2.720603
        white       6.734716          0.262767     0.325625        5.186477
8       red         8.566667          0.423333     0.391111        2.577778
        white       6.657143          0.277400     0.326514        5.671429
9       white       7.420000          0.298000     0.386000        4.120000

               chlorides  free sulfur dioxide  total sulfur dioxide   density  \
quality color
3       red     0.122500            11.000000             24.900000  0.997464
        white   0.054300            53.325000            170.600000  0.994884
4       red     0.090679            12.264151             36.245283  0.996542
        white   0.050098            23.358896            125.279141  0.994277
5       red     0.092736            16.983847             56.513950  0.997104
        white   0.051546            36.432052            150.904598  0.995263
6       red     0.084956            15.711599             40.869906  0.996615
        white   0.045217            35.650591            137.047316  0.993961
7       red     0.076588            14.045226             35.020101  0.996104
        white   0.038191            34.125568            125.114773  0.992452
8       red     0.068444            13.277778             33.444444  0.995212
        white   0.038314            36.720000            126.165714  0.992236
9       white   0.027400            33.400000            116.000000  0.991460

                     pH  sulphates    alcohol
quality color
3       red    3.398000   0.570000   9.955000
        white  3.187500   0.474500  10.345000
4       red    3.381509   0.596415  10.265094
        white  3.182883   0.476135  10.152454
5       red    3.304949   0.620969   9.899706
        white  3.168833   0.482203   9.808840
6       red    3.318072   0.675329  10.629519
        white  3.188599   0.491106  10.575372
7       red    3.290754   0.741256  11.465913
        white  3.213898   0.503102  11.367936
8       red    3.267222   0.767778  12.094444
        white  3.218686   0.486229  11.636000
9       white  3.308000   0.466000  12.180000

In [13]:
wine_df.groupby(['quality','color'],as_index=False)['pH'].mean()

    quality  color        pH
0         3    red  3.398000
1         3  white  3.187500
2         4    red  3.381509
3         4  white  3.182883
4         5    red  3.304949
5         5  white  3.168833
6         6    red  3.318072
7         6  white  3.188599
8         7    red  3.290754
9         7  white  3.213898
10        8    red  3.267222
11        8  white  3.218686
12        9  white  3.308000

In [14]:
#按照颜色分组，找到每组的平均质量等级
#某种类型的葡萄酒是否代表更高的品质？
wine_df.groupby('color',as_index=False)['quality'].mean()

   color   quality
0    red  5.636023
1  white  5.877909

In [15]:
#描述功能，查看最小、25%、50%、75% 和 最大 pH 值
wine_df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [17]:
# 对用于把数据“分割”成组的边缘进行分组
bin_edges = [2.72,3.11,3.21,3.32,4.01]

# 四个酸度水平组的标签
bin_names = ['高','中等偏高','中','低']

# 创建 acidity_levels 列
wine_df['acidity_levels'] = pd.cut(wine_df['pH'], bin_edges, labels=bin_names)

# 检查该列是否成功创建
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,低
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,中等偏高
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,中
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,中等偏高
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,低

In [18]:
# 用 groupby 计算每个酸度水平的平均质量
wine_df.groupby('acidity_levels',as_index=False)['quality'].mean()

  acidity_levels   quality
0              高  5.783343
1           中等偏高  5.784540
2              中  5.850832
3              低  5.859593

In [19]:
# 保存更改，供下一段使用
wine_df.to_csv('winequality_edited2.csv', index=False)

In [ ]:
#可视化